extends layout

block content
	div.container#pollVoting
		h1= question
		form(action="/poll/vote", method="post")
			input(type="hidden", name="code", value="#{code}")
			each choice, i in choices
				label.btn.btn-default.choice
					input(type="radio", name="choice", value="#{i}")
					span= choice

	script.
		// We check this on the server side, but check here just in case.
		// There are cases where the user could access the poll otherwise (e.g.
		// with the back button).
		var taken = $.cookie('takenPolls') || '';
		if (taken.indexOf('#{code}') != -1) {
			location.href = '/poll/badvote';
		}
		$('label').on('click', function() {
			$(this).children('input').attr('checked', true);
			$(this).parent('form').submit();
		});
