extends layout

block content
	div.container
		h1(id="resultsQuestion")
			=question
		table(id="resultsChoices")
			tr
				th Choice
				th Votes
				th
			each votes, choice in choices
				tr
					td
						span(class="resultsChoiceText")= choice
					td= votes
						votes
					td
						span(class="progressBar", data-votes="#{votes}", data-toggle="tooltip", title='#{votes} votes')

		a(href="/poll/#{code}", style="float:right;") Back to poll	

	script.
		Results.setup();
